.descrption__content__tittle{
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 22px;
    line-height: 25.83px;
    margin-top: 15px;
}

@media screen and (min-width:1024px) {
    .descrption__content__tittle{
        font-size: 32px;
        line-height: 41px;
    }  
}