.header__descrption__content__text--tittle{
    font-family: Raleway;
    font-weight: 700;
    font-size: 22px;
    line-height: 25.83px;
    margin-top: 15px;
}

.header__descrption__contenido__text--paragraph{
    margin-top: 15px;
    font-family: Raleway;
    font-weight: 400;
    font-size: 14px;
    line-height: 16.44px;
}