.header__banner__titulo__logo{
    display: flex;
    justify-content: left;
    align-items: center;
}

.header__banner__titulo__logo--img{
    width: 50px;
    height: 50px;
    background-image: url(../../img/banner-logo.png); 
    background-repeat: no-repeat;
    background-size: 100%;
}

.header__banner__titulo__logo--name{
    font: Raleway;
    font-weight: 700px;
    font-size: 14px;
    line-height: 18.78px;
    margin-left: 5px;
}