.contact__form__item__label {
    width: 100%;
    font-family: Raleway;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    margin-left: 10px;
    margin-top: 10px;
}