.skill__logos__item__tittle {
    font-family: 'Montserrat',sans-serif;
    font-weight: 700;
}

@media screen and (min-width:1024px) {
    .skill__logos__item__tittle {
        font-weight: 400;
    }
}